/RobotWinCE.exe
/backup
/KwinLab/Proba/backup
/KwinLab/Proba/lib/arm-wince
/KwinLab/Proba/lib/i386-win32
/KwinLab/TouchRecord/lib/arm-wince
/KwinLab/TouchRecord/lib/i386-win32
/KwinLab/Robot18/lib/arm-wince
/KwinLab/Robot18/backup
/KwinLab/Robot18/lib/i386-win32
/Proba/*.ppu
/Proba/*.o
/Proba/*.res
/Proba/*.lps
/Proba/lib/i386-win32
/Proba/backup
/Proba/*.a
/Proba/*.compiled
/Proba/*.exe
/MagicPoint/*.exe
